## imports
import(shiny)

## exports
# standard functions
export(aweSOM)
export(somDist)
export(somInit)
export(somQuality)
export(aweSOMdendrogram)
export(aweSOMscreeplot)
export(aweSOMsilhouette)
export(aweSOMsmoothdist)
export(aweSOMplot)

S3method(print, somQual)
